<!-- SUBSCRIPTION CONTAINER -->
<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="price-box card border-0 mt-4">
            <div class="text-center">
                <h5 class="mb-0">Starter</h5>
            </div>
            <div class="plan-price text-center mt-4">
                <h1 class="text-primary mb-0 display-4 fw-medium"><sup>$</sup>9<sub class="text-muted">/month</sub></h1>
            </div>
            <div class="price-features mt-5">
                <p><i class="mdi mdi-check text-primary"></i> Gym facilities: <span
                        class="fw-medium float-end">Included</span></p>
                <p><i class="mdi mdi-check text-primary"></i> Yoga facilities: <span
                        class="fw-medium float-end">Included</span></p>
                <p><i class="mdi mdi-close text-primary"></i> Sports facilities: <span class="fw-medium float-end">Not
                        included</span></p>
                <p><i class="mdi mdi-close text-primary"></i> Personal Trainer: <span class="fw-medium float-end">Not
                        included</span> </p>
            </div>
            <div class="text-center mt-4">
                <input type="submit" id="submit" name="update" class="btn btn-primary" value="Update your Plan" (click)="checkoutStarter()">
            </div>
        </div>
        <!--end pricing-box-->
    </div>
    <!--end col-->
    <div class="col-md-6 col-lg-4">
        <div class="price-box card border-0 mt-4">
            <div class="ribbon">20% sale</div>
            <div class="text-center">
                <h5 class="mb-0">Advanced</h5>
            </div>
            <div class="plan-price text-center mt-4">
                <h1 class="text-primary mb-0 display-4 fw-medium"><sup>$</sup>19<sub class="text-muted">/month</sub>
                </h1>
            </div>
            <div class="price-features mt-5">
                <p><i class="mdi mdi-check text-primary"></i> Gym facilities: <span
                        class="fw-medium float-end">Included</span></p>
                <p><i class="mdi mdi-check text-primary"></i> Yoga facilities: <span
                        class="fw-medium float-end">Included</span></p>
                <p><i class="mdi mdi-check text-primary"></i> Sports facilities: <span
                        class="fw-medium float-end">Included</span></p>
                <p><i class="mdi mdi-close text-primary"></i> Personal Trainer: <span class="fw-medium float-end">Not
                        included</span> </p>
            </div>
            <div class="text-center mt-4">
                <input type="submit" id="submit" name="update" class="btn btn-primary" value="Update your Plan" (click)="checkoutAdvanced()">
            </div>
        </div>
        <!--end pricing-box-->
    </div>
    <!--end col-->
    <div class="col-md-6 col-lg-4">
        <div class="price-box card border-0 mt-4">
            <div class="text-center">
                <h5 class="mb-0">Professional</h5>
            </div>
            <div class="plan-price text-center mt-4">
                <h1 class="text-primary mb-0 display-4 fw-medium"><sup>$</sup>29<sub class="text-muted">/month</sub>
                </h1>
            </div>
            <div class="price-features mt-5">
                <p><i class="mdi mdi-check text-primary"></i> Gym facilities: <span
                        class="fw-medium float-end">Included</span></p>
                <p><i class="mdi mdi-check text-primary"></i> Yoga facilities: <span
                        class="fw-medium float-end">Included</span></p>
                <p><i class="mdi mdi-check text-primary"></i> Sports facilities: <span
                        class="fw-medium float-end">Included</span></p>
                <p><i class="mdi mdi-check text-primary"></i> Personal Trainer: <span
                        class="fw-medium float-end">Included</span> </p>
            </div>
            <div class="text-center mt-4">
                <input type="submit" id="submit" name="update" class="btn btn-primary" value="Update your Plan" (click)="checkoutProfessional()">
            </div>
        </div>
        <!--end pricing-box-->
    </div>
    <!--end col-->
</div>
<!--end row-->
<!-- END SUBSCRIPTION CONTAINER -->