  <!-- start-HOME -->
  <section class="bg-home5" id="home">
    <div class="position-absolute w-100" style="top:0;bottom: 0;right: 0;left:0;">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" class="w-100 h-100" preserveAspectRatio="none"
            viewBox="0 0 1440 560">
            <g mask="url(&quot;#SvgjsMask1281&quot;)" fill="none">
                <path d="M1270.83 86.91 a142.76 142.76 0 1 0 285.52 0 a142.76 142.76 0 1 0 -285.52 0z"
                    fill="rgba(72, 85, 99, 0.4)" class="triangle-float2"></path>
                <path
                    d="M94.63920729044644 247.98615435187187L3.4969909396490664 383.1100468973077 229.76309983588226 339.12837070266926z"
                    fill="rgba(72, 85, 99, 0.4)" class="triangle-float2"></path>
                <path
                    d="M160.1754071445866 163.68418134995935L71.87015545871965 134.99206579641714 43.17803990517743 223.29731748228406 131.48329159104438 251.98943303582627z"
                    fill="rgba(72, 85, 99, 0.4)" class="triangle-float3"></path>
                <path
                    d="M936.4041038401061 330.3830443283211L1118.4828828871734 379.3569371829307 1078.6087344353373 219.4304628313281z"
                    fill="rgba(72, 85, 99, 0.4)" class="triangle-float3"></path>
                <path d="M-89.14 47.98 a136.89 136.89 0 1 0 273.78 0 a136.89 136.89 0 1 0 -273.78 0z"
                    fill="rgba(72, 85, 99, 0.4)" class="triangle-float2"></path>
                <path d="M1275.98 558.17 a126.26 126.26 0 1 0 252.52 0 a126.26 126.26 0 1 0 -252.52 0z"
                    fill="rgba(72, 85, 99, 0.4)" class="triangle-float3"></path>
            </g>
        </svg>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center text-white mb-4 pb-3">
                    <h6 class="home-subtitle text-white-50 mb-4">Discover Landsay today</h6>
                    <h1>Create digital Products & Brand experiences.</h1>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="position-relative home-dashboard">
                    <img src="assets/images/home/home5.png" alt="" class="img-fluid">
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END HOME -->


<app-features></app-features>
<app-process></app-process>
<app-clients></app-clients>
<app-pricing></app-pricing>
<app-faq></app-faq>
<app-about></app-about>
<app-cta></app-cta>
<app-blog></app-blog>
<app-contact></app-contact>
