 <!-- START Process -->
 <section class="section bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h3>How It Works?</h3>
                    <p class="text-muted">WanderGym is as easy as it looks, we help you find a suitable fitness facility near you! 
                        A wander company for the wander person. </p>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-10">
                <div class="timeline-page position-relative py-4">
                    <div class="timeline-item mb-lg-5 pb-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="text-center mb-5 mb-lg-0">
                                    <img src="assets/images/work-1.jpg" alt="Work" class="img-fluid">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                                <div class="works-description-right text-start bg-light mx-lg-3 mx-4">
                                    <h5 class="fs-18">Create your account</h5>
                                    <p class="text-muted mb-0">Select one of our subscribe options and create your account. 
                                        Our no hassle subscription options can help you choose what is best not only for you, 
                                        but also for your pocket.</p>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end timeline-item-->

                    <div class="timeline-item mb-5 pb-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="works-description-left text-start bg-light mx-lg-3 mx-4 text-lg-end">
                                    <h5 class="fs-18">Find a fitness facility near you</h5>
                                    <p class="text-muted mb-0">Are you looking for a yoga session? Maybe you are more of a HIIT workout person? 
                                        Choose between our inumerous options available in our plataform.
                                    </p>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6 order-first order-lg-last">
                                <div class="text-center mb-5 mb-lg-0">
                                    <img src="assets/images/work-2.jpg" alt="Work" class="img-fluid">
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end timeline-item-->
                    <div class="timeline-item">
                        <div class="row align-items-start">
                            <div class="col-lg-6">
                                <div class="text-center mb-5 mb-lg-0">
                                    <img src="assets/images/work-3.jpg" alt="Work" class="img-fluid">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                                <div class="works-description-right text-start bg-light mx-lg-3 mx-4">
                                    <h5 class="fs-18">Start your health and wellness journey</h5>
                                    <p class="text-muted mb-0">Select the facility you want to use and start working out!</p>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end timeline-item-->
                </div><!-- timeline-page -->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END Process -->

