<!-- START HERO -->
<section class="bg-blog">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center text-white">
                    <h2 class="text-white fw-light">Unique & authentic vintage <span class="fw-semibold">
                        designer collection</span></h2>
                    <nav aria-label="breadcrumb" class="mt-3">
                        <ul class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active text-white-50" aria-current="page">Blog details</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END HERO -->

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post-->
                <article class="position-relative">
                    <div class="date-box rounded-3">
                        <h6 class="fs-14 mb-0">16-11-2021</h6>
                    </div>
                    <div class="post-preview mb-4">
                        <a href="javascript: void(0);"><img src="assets/images/blog/blog-04.jpg" alt="" class="img-fluid rounded" /></a>
                    </div>
                    <div>
                        <div class="d-flex align-items-center gap-3">
                            <p class="text-muted mb-0"><i class="mdi mdi-comment-outline me-1"></i> <a
                                    href="javascript:void(0)" class="text-muted">897</a></p>
                            <p class="text-muted mb-0"><i class="mdi mdi-eye-outline me-1"></i> <a
                                    href="javascript:void(0)" class="text-muted">99.2 K</a></p>
                        </div>
                        <h5 class="my-3"><a href="javascript: void(0);" class="primary-link">What makes the best co-working
                                space?</a></h5>
                        <p class="text-muted">
                            Whether article spirits new her covered hastily sitting her. Money witty books nor son add. Chicken age had evening believe but proceed pretend mrs. At missed advice my it no sister. Miss told ham dull knew see she spot near can. Spirit her entire her called.
                        </p>
                        <p class="text-muted">
                            Home renovations, especially those involving plentiful of demolition can be a very dusty affair. The same is true as we experience the emotional sensation of stress from our first instances of social rejection ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.
                        </p>
                        <p class="text-muted">
                            Becomes an interactive story that can engage users. Designers have a lot of tools to make a story more intersting. You can align your image to the leftcenter with a caption, link and alt text New Journey to the Marstaking.
                        </p>

                        <div class="col-lg-12 my-4">
                            <div class="ps-4 border-start border-primary position-relative">
                                <i class="mdi mdi-format-quote-close fs-3 text-primary"></i>
                                <h5 class="lh-1">We Are Awesome.</h5>
                                <p class="text-muted mb-0">A business consulting agency is involved in the planning,
                                    implementation, and education of businesses. We work directly.</p>
                            </div>
                        </div>
                        <p class="text-muted">
                            The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout.
                        </p>
                    </div>

                    <!-- comment start -->
                    <h5 class="border-bottom pb-3 mt-5">Comments</h5>
                    <div class="ps-0 pt-3 mt-3">
                        <div class="d-sm-flex align-items-top">
                            <div class="flex-shrink-0">
                                <img class="rounded-circle avatar-md img-thumbnail" src="assets/images/users/img6.jpg"
                                    alt="img" />
                            </div>
                            <div class="flex-grow-1 ms-sm-3">
                                <small class="float-end fs-14">30 min Ago</small>
                                <h6 class="mt-sm-0 mt-3 mb-0">Michelle Durant</h6>
                                <p class="text-muted fs-14 mb-0">Jun 23, 2021</p>
                                <div class="my-3 badge bg-light">
                                    <a href="javascript: void(0);" class="text-primary"><i
                                            class="mdi mdi-reply"></i> Reply</a>
                                </div>
                                <p class="text-muted fst-italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                            </div>
                        </div>
                    </div>
                    <div class="ps-0 pt-3 mt-4">
                        <div class="d-sm-flex align-items-top">
                            <div class="flex-shrink-0">
                                <img class="rounded-circle avatar-md img-thumbnail" src="assets/images/users/img8.jpg"
                                    alt="img" />
                            </div>
                            <div class="flex-grow-1 ms-sm-3">
                                <small class="float-end fs-14">2 hrs Ago</small>
                                <h6 class="mt-sm-0 mt-3 mb-0">Steven Billups</h6>
                                <p class="text-muted fs-14 mb-0">Jun 24, 2021</p>
                                <div class="my-3 badge bg-light">
                                    <a href="javascript: void(0);" class="text-primary"><i
                                            class="mdi mdi-reply"></i> Reply</a>
                                </div>
                                <p class="text-muted fst-italic">" The most important aspect of beauty was, therefore, an inherent part of an object, rather than something applied superficially, and was based on universal, recognisable truths. "</p>

                                <div class="d-sm-flex align-items-top mt-4">
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle avatar-md img-thumbnail"
                                            src="assets/images/users/img5.jpg" alt="img" />
                                    </div>
                                    <div class="flex-grow-1 ms-sm-3">
                                        <small class="float-end fs-14">2 hrs Ago</small>
                                        <h6 class="mt-sm-0 mt-3 mb-0">Harriet Townsend</h6>
                                        <p class="text-muted fs-14 mb-0">Jun 26, 2021</p>
                                        <div class="my-3 badge bg-light">
                                            <a href="javascript: void(0);" class="text-primary"><i
                                                    class="mdi mdi-reply"></i> Reply</a>
                                        </div>
                                        <p class="text-muted fst-italic">" This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system.  "</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end comment -->

                    <h6 class="border-bottom pb-3 mt-5">Leave a Message</h6>
                    <form action="#" class="contact-form mt-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="position-relative mb-3">
                                    <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                                    <input name="name" id="name" type="text" class="form-control"
                                        placeholder="Enter your name*" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="position-relative mb-3">
                                    <span class="input-group-text"><i class="mdi mdi-email-outline"></i></span>
                                    <input name="email" id="email" type="email" class="form-control"
                                        placeholder="Enter your email*" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative mb-3">
                                    <span class="input-group-text"><i class="mdi mdi-file-document-outline"></i></span>
                                    <input name="subject" id="subject" type="text" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative mb-3">
                                <span  class="input-group-text align-items-start"><i class="mdi mdi-comment-text-outline"></i></span>
                                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Enter your message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-end">
                                <button name="submit" type="submit" id="submit" class="btn btn-primary">Post
                                    Comment <i class="mdi mdi-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                    <!--end form-->

                    <ul class="list-inline mt-5 border-bottom mb-4">
                        <li class="list-inline-item">
                            <h6 class="text-uppercase me-2">Share :</h6>
                        </li>
                        <li class="list-inline-item border-end pe-3"><a href="javascript:void(0)"
                                class="primary-link">Facebook</a></li>
                        <li class="list-inline-item border-end pe-3"><a href="javascript:void(0)"
                                class="primary-link">Twitter</a></li>
                        <li class="list-inline-item border-end pe-3"><a href="javascript:void(0)"
                                class="primary-link">Linked In</a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="primary-link">Instagram</a>
                        </li>
                    </ul>
                </article>
                <!-- Post end-->
            </div><!--end col-->

            <div class="col-lg-4">
                <div class="sidebar ms-lg-4 ps-lg-4">
                    <!-- Search widget-->
                    <aside class="widget widget_search">
                        <form class="position-relative">
                            <input class="form-control" type="search" placeholder="Search...">
                            <button class="bg-transparent border-0 position-absolute top-50 end-0 translate-middle-y me-2" type="submit"><span class="mdi mdi-magnify"></span></button>
                        </form>
                    </aside>
                    <div class="mt-4">
                        <div class="sd-title">
                            <h6 class="border-bottom pb-3 mb-0">Categories</h6>
                        </div>
                        <div class="my-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                <label class="form-check-label text-dark ms-2"
                                    for="flexCheckDefault">Accessories</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" />
                                <label class="form-check-label text-dark ms-2" for="flexCheckChecked1">Bag</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2"
                                    checked />
                                <label class="form-check-label text-dark ms-2"
                                    for="flexCheckChecked2">Clothing</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" />
                                <label class="form-check-label text-dark ms-2"
                                    for="flexCheckChecked3">Decore</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" />
                                <label class="form-check-label text-dark ms-2" for="flexCheckChecked4">Coffee
                                    Pots</label>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="sd-title">
                            <h6 class="border-bottom pb-3 mb-0">Polular Post</h6>
                        </div>
                        <ul class="list-unstyled my-4">
                            <li class="d-flex mb-3 pb-3 border-bottom">
                                <img src="assets/images/blog/blog-01.jpg" alt="" class="img-fluid rounded avatar-md" />
                                <div class="flex-grow-1 text-truncate ms-3">
                                    <a href="javascript:void(0)" class="text-dark">The evolution of landing page
                                        creativity</a>
                                    <span class="d-block text-muted fs-14">Jun 15, 2021</span>
                                </div>
                            </li>
                            <li class="d-flex mb-3 pb-3 border-bottom">
                                <img src="assets/images/blog/blog-02.jpg" alt="" class="img-fluid rounded avatar-md" />
                                <div class="flex-grow-1 text-truncate ms-3"><a href="javascript:void(0)"
                                        class="text-dark">Beautiful day with friends in paris</a>
                                    <span class="d-block text-muted fs-14">Jun 10, 2021</span>
                                </div>
                            </li>
                            <li class="d-flex mb-3">
                                <img src="assets/images/blog/blog-03.jpg" alt="" class="img-fluid rounded avatar-md" />
                                <div class="flex-grow-1 text-truncate ms-3"><a href="javascript:void(0)"
                                        class="text-dark">Project discussion with team</a>
                                    <span class="d-block text-muted fs-14">Jun 8, 2021</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="mt-4">
                        <div class="sd-title mt-4">
                            <h6 class="border-bottom pb-3 mb-0">Text Widget</h6>
                        </div>
                        <p class="my-3 text-muted">
                            Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft
                            beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v
                            laborum. Aliquip veniam
                            delectus, Marfa eiusmod Pinterest in do umami readymade swag.
                        </p>
                    </div>

                    <div class="mt-4">
                        <div class="sd-title mt-4">
                            <h6 class="border-bottom pb-3 mb-0">Archives</h6>
                        </div>
                        <ul class="list-unstyled my-3">
                            <li class="py-1 text-dark"><a class="me-2 text-muted" href="javascript:void(0)">March
                                    2021</a> (40)
                            </li>
                            <li class="py-1 text-dark"><a class="me-2 text-muted" href="javascript:void(0)">April
                                    2021</a> (08)
                            </li>
                            <li class="py-1 text-dark"><a class="me-2 text-muted" href="javascript:void(0)">May
                                    2021</a> (11)</li>
                            <li class="py-1 text-dark"><a class="me-2 text-muted" href="javascript:void(0)">Jun
                                    2021</a> (21)</li>
                        </ul>
                    </div>

                    <div class="mt-4">
                        <div class="sd-title mt-4">
                            <h6 class="border-bottom pb-3 mb-0">Tags</h6>
                        </div>
                        <div class="tagcloud py-4">
                            <a class="rounded d-inline-block fs-13 m-1 px-2 py-1"
                                href="javascript:void(0)">logo</a>
                            <a class="rounded d-inline-block fs-13 m-1 px-2 py-1"
                                href="javascript:void(0)">business</a>
                            <a class="rounded d-inline-block fs-13 m-1 px-2 py-1"
                                href="javascript:void(0)">corporate</a>
                            <a class="rounded d-inline-block fs-13 m-1 px-2 py-1" href="javascript:void(0)">e-commerce</a>
                            <a class="rounded d-inline-block fs-13 m-1 px-2 py-1" href="javascript:void(0)">agency</a>
                            <a class="rounded d-inline-block fs-13 m-1 px-2 py-1"  href="javascript:void(0)">responsive</a>
                        </div>
                    </div>
                </div>
                <!--end sidebar-->
            </div>
            <!-- end col-->
        </div>
    </div>
    <!-- end row -->
</section>
