<!-- START PRICING -->
<section class="section bg-light" id="price">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h3>Our Pricing</h3>
                    <p class="text-muted mt-2">It is a long established fact that a reader will be of a page when
                        established fact looking at its layout.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="price-box card border-0 mt-4">
                    <div class="text-center">
                        <h5 class="mb-0">Starter</h5>
                    </div>
                    <div class="plan-price text-center mt-4">
                        <h1 class="text-primary mb-0 display-4 fw-medium"><sup>$</sup>9<sub class="text-muted">/month</sub></h1>
                    </div>
                    <div class="price-features mt-5">
                        <p><i class="mdi mdi-check text-primary"></i> Bandwidth: <span class="fw-medium float-end">1GB</span></p>
                        <p><i class="mdi mdi-check text-primary"></i> Onlinespace: <span class="fw-medium float-end">500MB</span></p>
                        <p><i class="mdi mdi-close text-primary"></i> Support: <span class="fw-medium float-end">No</span></p>
                        <p><i class="mdi mdi-check text-primary"></i> Domain: <span class="fw-medium float-end">1</span> </p>
                        <p><i class="mdi mdi-check text-primary"></i> Hidden Fees: <span class="fw-medium float-end">No</span></p>
                    </div>
                    <div class="text-center mt-4">
                        <a href="javascript: void(0);" class="btn btn-outline-primary w-100">Join Now</a>
                    </div>
                </div>
                <!--end pricing-box-->
            </div>
            <!--end col-->
            <div class="col-md-6 col-lg-4">
                <div class="price-box card border-0 mt-4">
                    <div class="ribbon">20% sale</div>
                    <div class="text-center">
                        <h5 class="mb-0">Advanced</h5>
                    </div>
                    <div class="plan-price text-center mt-4">
                        <h1 class="text-primary mb-0 display-4 fw-medium"><sup>$</sup>19<sub
                                class="text-muted">/month</sub></h1>
                    </div>
                    <div class="price-features mt-5">
                        <p><i class="mdi mdi-check text-primary"></i> Bandwidth: <span
                                class="fw-medium float-end">2GB</span></p>
                        <p><i class="mdi mdi-check text-primary"></i> Onlinespace: <span
                                class="fw-medium float-end">1GB</span></p>
                        <p><i class="mdi mdi-check text-primary"></i> Support: <span
                                class="fw-medium float-end">Yes</span></p>
                        <p><i class="mdi mdi-check text-primary"></i> Domain: <span
                                class="fw-medium float-end">3</span> </p>
                        <p><i class="mdi mdi-check text-primary"></i> Hidden Fees: <span
                                class="fw-medium float-end">No</span></p>
                    </div>
                    <div class="text-center mt-4">
                        <a href="javascript: void(0);" class="btn btn-primary w-100">Join Now</a>
                    </div>
                </div>
                <!--end pricing-box-->
            </div>
            <!--end col-->
            <div class="col-md-6 col-lg-4">
                <div class="price-box card border-0 mt-4">
                    <div class="text-center">
                        <h5 class="mb-0">Professional</h5>
                    </div>
                    <div class="plan-price text-center mt-4">
                        <h1 class="text-primary mb-0 display-4 fw-medium"><sup>$</sup>29<sub
                                class="text-muted">/month</sub></h1>
                    </div>
                    <div class="price-features mt-5">
                        <p><i class="mdi mdi-check text-primary"></i> Bandwidth: <span
                                class="fw-medium float-end">3GB</span></p>
                        <p><i class="mdi mdi-check text-primary"></i> Onlinespace: <span
                                class="fw-medium float-end">2GB</span></p>
                        <p><i class="mdi mdi-check text-primary"></i> Support: <span
                                class="fw-medium float-end">Yes</span></p>
                        <p><i class="mdi mdi-check text-primary"></i> Domain: <span
                                class="fw-medium float-end">Unlimited</span></p>
                        <p><i class="mdi mdi-check text-primary"></i> Hidden Fees: <span
                                class="fw-medium float-end">No</span></p>
                    </div>
                    <div class="text-center mt-4">
                        <a href="javascript: void(0);" class="btn btn-outline-primary w-100">Join Now</a>
                    </div>
                </div>
                <!--end pricing-box-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END PRICING -->
