  <!-- START ABOUT -->
  <section class="section bg-light" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center">
                    <h3>We'r dynamic team of talented people of innovative & marketing expert</h3>
                    <p class="text-muted pt-2">To achieve this, it would be necessary to have uniform grammar,
                        pronunciation and more common words. If several languages of the resulting language.</p>
                </div>
            </div>
        </div>
        <!--end row-->

        <div class="row justify-content-center mt-5">
            <div class="col-md-6 col-lg-3">
                <div class="text-center mt-3">
                    <h3>
                        <span class="counter_value" [countUp]="1499">120</span><span>+</span>
                    </h3>
                    <p class="text-muted">Complete Projects</p>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-6 col-lg-3">
                <div class="text-center mt-3">
                    <h3>
                        <span class="counter_value" [countUp]="1080">120</span><span>K</span>
                    </h3>
                    <p class="text-muted">Satisfied Clients</p>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-6 col-lg-3">
                <div class="text-center mt-3">
                    <h3 class="counter_value" [countUp]="608"></h3>
                    <p class="text-muted">Team Members</p>
                </div>
            </div>
            <!--end col-->

            <div class="col-md-6 col-lg-3">
                <div class="text-center mt-3">
                    <h3 class="counter_value" [countUp]="252"></h3>
                    <p class="text-muted">Employee</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <!-- START TEAM -->
        <div class="row mt-5">
            <div class="col-md-6 col-lg-3">
                <div class="card team-box border-0 bg-transparent mt-3">
                    <div class="position-relative mx-auto">
                        <img src="assets/images/users/img5.jpg" alt="team" height="200"
                            class="img-fluid rounded-circle img-thumbnail">
                        <ul class="team-social list-unstyled">
                            <li><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="my-1"><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-twitter"></i></a>
                            </li>
                            <li><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-skype"></i></a></li>
                        </ul>
                    </div>
                    <div class="card-body text-center">
                        <h6 class="mb-0"><a href="javascript: void(0);" class="primary-link">Wade G. Wilhite</a></h6>
                        <p class="text-muted fs-14 mb-0">CEO/Founder</p>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->

            <div class="col-md-6 col-lg-3">
                <div class="card team-box border-0 bg-transparent mt-3">
                    <div class="position-relative mx-auto">
                        <img src="assets/images/users/img6.jpg" alt="team" class="img-fluid rounded-circle img-thumbnail">
                        <ul class="team-social list-unstyled">
                            <li><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="my-1"><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-twitter"></i></a>
                            </li>
                            <li><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-skype"></i></a></li>
                        </ul>
                        <!--end team-social-->
                    </div>
                    <div class="card-body text-center">
                        <h6 class="mb-0"><a href="javascript: void(0);" class="primary-link">William S. Blay</a></h6>
                        <p class="text-muted fs-14 mb-0">CTO/Co-Founder</p>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->

            <div class="col-md-6 col-lg-3">
                <div class="card team-box border-0 bg-transparent mt-3">
                    <div class="position-relative mx-auto">
                        <img src="assets/images/users/img7.jpg" alt="team" class="img-fluid rounded-circle img-thumbnail">
                        <ul class="team-social list-unstyled">
                            <li><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="my-1"><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-twitter"></i></a>
                            </li>
                            <li><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-skype"></i></a></li>
                        </ul>
                        <!--end team-social-->
                    </div>
                    <div class="card-body text-center">
                        <h6 class="mb-0"><a href="javascript: void(0);" class="primary-link">Matthew B. Morales</a></h6>
                        <p class="text-muted fs-14 mb-0">Web Designer</p>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->

            <div class="col-md-6 col-lg-3">
                <div class="card team-box border-0 bg-transparent mt-3">
                    <div class="position-relative mx-auto">
                        <img src="assets/images/users/img8.jpg" alt="team" class="img-fluid rounded-circle img-thumbnail">
                        <ul class="team-social list-unstyled">
                            <li><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="my-1"><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-twitter"></i></a>
                            </li>
                            <li><a href="javascript: void(0);" class="primary-link"><i class="mdi mdi-skype"></i></a></li>
                        </ul>
                        <!--end team-social-->
                    </div>
                    <div class="card-body text-center">
                        <h6 class="mb-0"><a href="javascript: void(0);" class="primary-link">Luke L. Johnston</a></h6>
                        <p class="text-muted fs-14 mb-0">Web Developer</p>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <!--END TEAM-->
    </div>
    <!--end container-->
</section>
<!-- END ABOUT -->
