<!-- START FAQ -->
<section class="section" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5 pb-2">
                    <h3>How can we help you?</h3>
                    <p class="text-muted mt-2">Here are some frequently asked questions from our users.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4 pb-2">
                    <div class="faq d-flex">
                        <div class="icon flex-shrink-0 me-3">
                            ?
                        </div>
                        <div class="content">
                            <h5 class="fs-17">How does WanderGym work?</h5>
                            <p class="text-muted mb-0">WanderGym provides you with a single subscription that grants you access to a network 
                                of gyms across Ireland. Simply sign up, choose your plan, and start enjoying workouts in different locations 
                                without the hassle of multiple memberships.</p>
                        </div>
                    </div>
                </div>
                <div class="mb-4 pb-2">
                    <div class="faq d-flex">
                        <div class="icon flex-shrink-0 me-3">
                            ?
                        </div>
                        <div class="content">
                            <h5 class="fs-17">Are there any restrictions on how often I can visit a gym?</h5>
                            <p class="text-muted mb-0">No restrictions at all! With WanderGym, you have the freedom to visit 
                                any gym in our network as often as you like. Whether you're a daily gym-goer or prefer a more flexible schedule, 
                                it's all up to you.</p>
                        </div>
                    </div>
                </div>
                <div class="mb-4 pb-2">
                    <div class="faq d-flex">
                        <div class="icon flex-shrink-0 me-3">
                            ?
                        </div>
                        <div class="content">
                            <h5 class="fs-17">Can I cancel my subscription at any time?</h5>
                            <p class="text-muted mb-0">Absolutely. We understand that plans can change. You can cancel your WanderGym subscription 
                                at any time with no hidden fees. We believe in keeping things simple and flexible for our users.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
            <div class="col-lg-6">
                <div class="mb-4 pb-4">
                    <div class="faq d-flex">
                        <div class="icon flex-shrink-0 me-3">
                            ?
                        </div>
                        <div class="content">
                            <h5 class="fs-17"> How do I find gyms in the WanderGym network?</h5>
                            <p class="text-muted mb-0"> Once you're a member, simply use our user-friendly website to locate gyms 
                                in the WanderGym network. You'll find details about each gym, including facilities, opening hours, 
                                and user reviews, making it easy to choose the perfect workout spot.</p>
                        </div>
                    </div>
                </div>
                <div class="mb-4 pb-4">
                    <div class="faq d-flex">
                        <div class="icon flex-shrink-0 me-3">
                            ?
                        </div>
                        <div class="content">
                            <h5 class="fs-17"> Can I share my WanderGym subscription with a friend or family member?</h5>
                            <p class="text-muted mb-0"> Currently, WanderGym subscriptions are intended for individual use. 
                                Sharing subscriptions is not permitted. Each member should have their own subscription for a seamless 
                                experience and to ensure access to our diverse network of gyms. If you have friends or family interested, 
                                encourage them to sign up for their own WanderGym membership!</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END FAQ -->
