
<!-- START CLIENTS -->
<section class="section bg-client bg-light" id="client"
    style="background-image: url(assets/images/bg.jpg);background-size: cover;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center mb-5">
                    <h3>What our clients says</h3>
                    <p class="text-muted mt-2 mb-0">We aim for guaranteed satisfaction: for you and for our fitness partners.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <!-- <div class="swiper-container testimonialslider"> -->
                    <ngx-slick-carousel class="carousel" [config]="slideConfig">
                        <div class="swiper-slide" ngxSlickItem>
                            <div class="testimonial-box text-center card border-0">
                                <div>
                                    <div class="testi-img position-relative d-inline-block">
                                        <img src="assets/images/users/img1.jpg" alt="" class="img-fluid rounded-circle">
                                        <div class="quote-icon">
                                            <i class="mdi mdi-format-quote-open"></i>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h6 class="mb-0 fs-17">Laura Strange</h6>
                                        <p class="text-muted mb-0">Dublin</p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-muted mb-0">" WanderGym is a game-changer! As someone who travels a lot for work, 
                                        having access to quality gyms across Ireland with just one subscription is a lifesaver. 
                                        No more hassle, no more extra fees—just pure convenience and a fit lifestyle. Highly recommend! "</p>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end testimonial-box-->
                        </div>
                        <div class="swiper-slide" ngxSlickItem >
                            <div class="testimonial-box text-center card border-0">
                                <div>
                                    <div class="testi-img position-relative d-inline-block">
                                        <img src="assets/images/users/img2.jpg" alt="" class="img-fluid rounded-circle">
                                        <div class="quote-icon">
                                            <i class="mdi mdi-format-quote-open"></i>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h6 class="mb-0 fs-17">John Emmanuel</h6>
                                        <p class="text-muted mb-0">Galway</p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-muted mb-0">" WanderGym is the fitness solution every digital nomad dreams of. 
                                        I can seamlessly continue my workout routine wherever my work takes me. The variety of gyms 
                                        and the simplicity of the service make staying fit on the go an absolute breeze. It's an essential for 
                                        any fitness-focused wanderer! "</p>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end testimonial-box-->
                        </div>
                        <div class="swiper-slide" ngxSlickItem >
                            <div class="testimonial-box text-center card border-0">
                                <div>
                                    <div class="testi-img position-relative d-inline-block">
                                        <img src="assets/images/users/img4.jpg" alt="" class="img-fluid rounded-circle">
                                        <div class="quote-icon">
                                            <i class="mdi mdi-format-quote-open"></i>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h6 class="mb-0 fs-17">Charlize Theron</h6>
                                        <p class="text-muted mb-0">Cork</p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-muted mb-0">" WanderGym makes exploring Ireland even better. I love the flexibility it 
                                        provides—literally! Switching between gyms has never been so easy, and the cost-effectiveness is unbeatable. 
                                        It's like having a fitness passport to the whole country. WanderGym has made my fitness journey an exciting 
                                        adventure! "
                                    </p>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end testimonial-box-->
                        </div>
                    </ngx-slick-carousel>
                <!-- </div> -->
            </div>
        </div>
        <!--end col-->
        <div class="row row-cols-md-5 row-cols-1 mt-4">
            <div class="col">
                <div class="client-images text-center mt-4">
                    <img src="assets/images/clients/01.png" alt="img1" class="img-fluid">
                </div>
            </div>
            <!--end col-->
            <div class="col">
                <div class="client-images text-center mt-4">
                    <img src="assets/images/clients/02.png" alt="img2" class="img-fluid">
                </div>
            </div>
            <!--end col-->
            <div class="col">
                <div class="client-images text-center mt-4">
                    <img src="assets/images/clients/03.png" alt="img3" class="img-fluid">
                </div>
            </div>
            <!--end col-->
            <div class="col">
                <div class="client-images text-center mt-4">
                    <img src="assets/images/clients/04.png" alt="img4" class="img-fluid">
                </div>
            </div>
            <!--end col-->
            <div class="col">
                <div class="client-images text-center mt-4">
                    <img src="assets/images/clients/05.png" alt="img5" class="img-fluid">
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END CLIENTS -->


<!-- START FEATURE  -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="features-box">
                    <h3 class="mb-4">We are digital creative Landing Page</h3>
                    <p class="text-muted mb-4">The difference between a successful person and others is not a lack
                        of strength, not a lack of knowledge, but rather a lack of will.Composed in a pseudo-Latin
                        language which more or less pseudo-Latin language corresponds.</p>
                    <div class="row" id="counter">
                        <div class="col-md-5 col-6">
                            <div>
                                <h5 class="counter_value" [countUp]="4954">&nbsp;</h5>
                                <h6 class="text-muted">Happy User</h6>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-md-5 col-6">
                            <div>
                                <h5 class="counter_value" [countUp]="1599">&nbsp;</h5>
                                <h6 class="text-muted">Complate Project</h6>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                    <div class="mt-4">
                        <a href="javascript: void(0);" class="btn btn-primary">Learn More <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->
            <div class="col-lg-6 offset-lg-1">
                <div class="text-center mt-5 mt-lg-0">
                    <img src="assets/images/features.png" alt="Features" class="img-fluid">
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END FEATURE -->
