

<!-- START HOME -->
<section class="bg-home4 overflow-hidden" id="home">
    <div class="container">
        <div class="position-relative" style="z-index: 1;">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div>
                        <h6 class="home-subtitle text-primary mb-4">Awesome</h6>
                        <h1>We are Startup Creative Landsay Agency</h1>
                        <p class="text-black-50 fs-17 pt-4">Carefully crafted after analyzing the needs of different
                            industries and the design achieves a great balance between purpose & presentation.</p>
                        <div class="text-center subscribe-form mt-5">
                            <form action="#">
                                <input type="text" class="control-form" id="inputemail" placeholder="Enter your email">
                                <button type="submit" class="btn btn-primary">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col-lg-6 offset-xl-1">
                    <div class="mt-lg-0 mt-5">
                        <img src="assets/images/home/home1.png" alt="home04" class="home-img">
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
    <!--end container-->
</section>
<div class="position-relative">
    <div class="shape overflow-hidden text-white position-absolute">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 100%;" height="250" preserveAspectRatio="none"
            viewBox="0 0 1440 250">
            <g mask="url(&quot;#SvgjsMask1006&quot;)" fill="none">
                <path d="M 0,246 C 288,210 1152,102 1440,66L1440 250L0 250z" fill="rgba(255, 255, 255, 1)"></path>
            </g>
            <defs>
                <mask id="SvgjsMask1006">
                    <rect width="1440" height="250" fill="#ffffff"></rect>
                </mask>
            </defs>
        </svg>
    </div>
</div>
<!-- END HOME -->

<app-features></app-features>
<app-process></app-process>
<app-clients></app-clients>
<app-pricing></app-pricing>
<app-faq></app-faq>
<app-about></app-about>
<app-cta></app-cta>
<app-blog></app-blog>
<app-contact></app-contact>