<!--START HOME-->
<section class="home-slider" id="home">
    <div class="swiper-container homeslider">
        <ngx-slick-carousel class="carousel" [config]="slideConfig" id="ecommerceHero">
            <div class="swiper-slide" ngxSlickItem
                style="background-image: url(assets/images/home/bg-home3-1.jpg);background-size: cover;background-position: center;">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center text-white">
                                <h6 class="home-subtitle mb-4">Awesome</h6>
                                <h1>Speed up your development with Landsay.</h1>
                                <p class="home-desc pt-3">A digital web design studio creating modern &
                                    engaging online. Separated they live in Bookmarksgrove right the
                                    Semantics, a large language.</p>
                                <div class="mt-4 pt-3">
                                    <a href="javascript: void(0);" class="btn btn-primary">Request demo</a>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </div>
            <!--end swiper-slide-->

            <div class="swiper-slide" ngxSlickItem
                style="background-image: url(assets/images/home/bg-home3-2.jpg);background-size: cover;background-position: bottom;">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center text-white">
                                <h6 class="home-subtitle mb-4">Business</h6>
                                <h1>Build anything for your Project</h1>
                                <p class="home-desc pt-3">A digital web design studio creating modern &
                                    engaging
                                    online. Separated they live in Bookmarksgrove right the Semantics, a
                                    large language.</p>
                                <div class="mt-4 pt-3">
                                    <a href="javascript: void(0);" class="btn btn-primary">Request demo</a>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </div>
            <!--end swiper-slide-->

            <div class="swiper-slide" ngxSlickItem
                style="background-image: url(assets/images/home/bg-home3-3.jpg);background-size: cover;background-position: top;">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center text-white">
                                <h6 class="home-subtitle mb-4">digital products</h6>
                                <h1>Our Agency provide best IT Solutions</h1>
                                <p class="home-desc pt-3">Get professional & reliable research oriented
                                    solutions for Data Science and Machine Learning business needs. Enjoy
                                    stress free decesion making! </p>
                                <div class="mt-4 pt-3">
                                    <a href="javascript: void(0);" class="btn btn-primary">Discover More</a>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </div>
            <!--end swiper-slide-->

        </ngx-slick-carousel>
    </div>
    <!--end homeslider-->
</section>
<!--end home-->


<app-features></app-features>
<app-process></app-process>
<app-clients></app-clients>
<app-pricing></app-pricing>
<app-faq></app-faq>
<app-about></app-about>
<app-cta></app-cta>
<app-blog></app-blog>
<app-contact></app-contact>