<!--start page Loader -->
<div id="preloader">
    <div id="status">
        <div class="load">
            <hr />
            <hr />
            <hr />
            <hr />
        </div>
    </div>
</div>
<!--end page Loader -->

<!-- START NAVBAR -->
<nav id="navbar" class="navbar navbar-expand-lg fixed-top sticky">
    <a class="navbar-brand" href="/"><img src="assets/images/gym-icon.png" alt="" height="30"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" (click)="toggleMenu()"
        aria-label="Toggle navigation">
        <i class="mdi mdi-menu text-muted"></i>
    </button>
    <div class="collapse navbar-collapse" scrollSpy id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navList">
            <li class="nav-item">
                <a class="nav-link" href="/user-dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/" (click)=handleLogout()>Logout</a>
            </li>
        </ul>
        <!--end navbar-nav-->

    </div>
    <!--end collapse-->
</nav>
<!-- END NAVBAR -->


<!-- DATA CONTAINER -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h3>Update Profile</h3>
                    <p class="text-muted mt-2 mb-0">Would you like to update your profile? Please complete the form below :) </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="row">
                    <div class="position-relative mb-3">
                        <span class="input-group-text"><i class="mdi mdi-account-outline"></i>Name: {{user.fullName}}</span>
                    </div>
                    <div class="position-relative mb-3">
                        <span class="input-group-text"><i class="mdi mdi-email-outline"></i>Email: {{user.email}}</span>
                    </div>
                    <div class="position-relative mb-3">
                        <span class="input-group-text"><i class="mdi mdi-map-marker-outline"></i>Address: {{user.address}}</span>
                    </div>
                    <div class="position-relative mb-3">
                        <span class="input-group-text"><i class="mdi mdi-account-outline"></i>Mobile Number: {{user.mobileNumber}}</span>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <div class="col-lg-4">
                <form (ngSubmit)="onSubmit()" [formGroup]="profileForm" method="post" class="contact-form" name="profileForm"
                    id="profileForm">
                    <span id="error-msg"></span>
                    <div class="row ">
                        <div class="position-relative mb-3">
                            <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                            <input name="name" id="name" type="text" class="form-control" formControlName="name"
                                placeholder="Enter your name*" required>
                        </div>
                        <div class="position-relative mb-3">
                            <span class="input-group-text"><i class="mdi mdi-map-marker-outline"></i></span>
                            <input name="address" id="address" type="text" class="form-control"
                                formControlName="address" placeholder="Enter your Address*" required>
                        </div>
                        <div class="position-relative mb-3">
                            <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                            <input name="mobile-number" id="mobile-number" type="number" class="form-control"
                                formControlName="mobileNumber" placeholder="Enter your Mobile Number*" required>
                        </div>
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-sm-12 text-end">
                            <input type="submit" id="submit" name="update" class="btn btn-primary" [disabled]="profileForm.invalid" value="Update">
                        </div>
                    </div>
                    <!-- end row -->
                </form>
                <!--end form-->
            </div>
            <!--end col-->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end section -->

<!-- END DATA CONTAINER -->


<!-- START FOOTER -->
<footer class="bg-dark section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <ul class="list-inline social-list mb-0">
                        <li class="list-inline-item "><a href="javascript: void(0);" class="social-icon footer-link"><i
                                    class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item ms-1"><a href="javascript: void(0);"
                                class="social-icon footer-link"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item ms-1"><a href="javascript: void(0);"
                                class="social-icon footer-link"><i class="mdi mdi-linkedin"></i></a></li>
                        <li class="list-inline-item ms-1"><a href="javascript: void(0);"
                                class="social-icon footer-link"><i class="mdi mdi-google-plus"></i></a></li>
                    </ul>
                    <!--end social-->
                </div>
                <div class="footer-terms">
                    <ul class="mb-0 list-inline text-center mt-4">
                        <li class="list-inline-item"><a href="javascript: void(0);" class="footer-link">Terms &
                                Condition</a></li>
                        <li class="list-inline-item ms-1"><a href="javascript: void(0);" class="footer-link">Privacy
                                Policy</a></li>
                        <li class="list-inline-item ms-1"><a href="javascript: void(0);" class="footer-link">Contact
                                Us</a></li>
                    </ul>
                </div>
                <!--end footer-terms-->
                <div class="mt-4 pt-2 text-center">
                    <p class="text-white-50 mb-0">{{year}} © WanderGym <i class="mdi mdi-heart text-danger"></i>
                    </p>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</footer>
<!-- END FOOTER -->

<!--start back-to-top-->
<button (click)="topFunction()" id="back-to-top">
    <i class="mdi mdi-arrow-up"></i>
</button>
<!--end back-to-top-->


<!-- <form class="auth-form text-white" (ngSubmit)="updateUser()">
    USER FORM
    <div id="user-form" *ngIf='presentAuthRole === userRole || presentAuthRole === adminRole'>
        <div class="mb-3">
            <label for="user-fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="user-fullname" placeholder="Full Name"
                name="register-user-name" [ngModel]="user?.fullName" (ngModelChange)="user.fullName = $event"
                required>
        </div>
        <div class="mb-3">
            <label for="user-dob" class="form-label">Date of Birth</label>
            <input type="text" class="form-control" id="user-dob" placeholder="Date of Birth"
                onfocus="(this.type='date')" onblur="(this.type= this.value ? 'date' : 'text')"
                name="register-user-dob" [ngModel]="user?.dob" (ngModelChange)="user.dob = $event" required />
        </div>
        <div class="mb-3">
            <label for="user-address" class="form-label">Address</label>
            <input type="text" class="form-control" id="user-address" placeholder="Address"
                name="register-user-address" [ngModel]="user?.address" (ngModelChange)="user.address = $event"
                required>
        </div>
        <div class="mb-3">
            <label for="user-phonenumber" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="user-phonenumber" placeholder="Phone Number"
                name="register-user-phonenumber" [ngModel]="user?.mobileNumber"
                (ngModelChange)="user.mobileNumber = $event" required>
        </div>
    </div>
    END USER FORM

    BUSINESS FORM
    <div id="business-form" *ngIf='presentAuthRole === businessRole || presentAuthRole === adminRole'>
        <div class="mb-3">
            <label for="business-name" class="form-label">Business Name</label>
            <input type="text" class="form-control" id="business-name" placeholder="Business Name"
                name="register-business-name" [ngModel]="business?.name" (ngModelChange)="business.name = $event"
                required>
        </div>
        <div class="mb-3">
            <label for="business-address" class="form-label">Address</label>
            <input type="text" class="form-control" id="business-address" placeholder="Address"
                name="register-business-address" [ngModel]="business?.address"
                (ngModelChange)="business.address = $event" required>
        </div>
        <div class="mb-3">
            <label for="business-phonenumber" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="business-phonenumber" placeholder="Phone Number"
                name="register-business-phonenumber" [ngModel]="business?.phoneNumber"
                (ngModelChange)="business.phoneNumber = $event" required>
        </div>
        <div class="mb-3">
            <label for="business-type" class="form-label">Type</label>
            <select class="form-control" name="register-business-type" [(ngModel)]="business.type">
                <option default class="form-control">Select your business type</option>
                <option class="form-control">Gym</option>
                <option class="form-control">Yoga Studio</option>
                <option class="form-control">Swimming</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="business-description" placeholder="Describe your business"
                name="register-business-description" [ngModel]="business?.description"
                (ngModelChange)="business.description = $event" required>
        </div>
    </div>
    END BUSINESS FORM

    <div class="mb-4">
        <div class="form-check"><input class="form-check-input" type="checkbox" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">I agree to the <a href="javascript: void(0);"
                    class="text-white text-decoration-underline">Terms and conditions</a></label>
        </div>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary w-100">Register Now</button>
    </div>
</form> -->