 
<!--start page Loader -->
<div id="preloader">
    <div id="status">
        <div class="load">
            <hr />
            <hr />
            <hr />
            <hr />
        </div>
    </div>
</div>
<!--end page Loader -->
 
 <!-- START NAVBAR -->
 <nav  id="navbar" class="navbar navbar-expand-lg fixed-top sticky">
        <a class="navbar-brand" href="/"><img src="assets/images/gym-icon.png" alt="" height="30"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" (click)="toggleMenu()" aria-label="Toggle navigation">
            <i class="mdi mdi-menu text-muted"></i>
        </button>
        <div class="collapse navbar-collapse" scrollSpy id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navList">
                <li class="nav-item">
                    <a class="nav-link" href="/user-profile">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/" (click)=handleLogout()>Logout</a>
                </li>
            </ul>
            <!--end navbar-nav-->
            
        </div>
        <!--end collapse-->
</nav>
<!-- END NAVBAR -->

<!-- START GYM SELECTION -->
<section class="section" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h3>Hi, {{user.fullName}}</h3>
                    <p class="text-muted mt-2 mb-0">Welcome to your WanderGym dashboard. What do you think about starting a session now?
                        Select one of our available facilities below and enjoy! 
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card blog-box border-0 mt-4">
                    <div class="blog-img position-relative">
                        <img src="assets/images/blog/blog-1.jpg" alt="Blog" class="img-fluid rounded">
                        <div class="bg-overlay rounded"></div>
                    </div>
                    <div class="mt-3">
                        <a href="javascript: void(0);" class="primary-link">
                            <h6 class="fs-20">West Wood Club</h6>
                        </a>
                        <p class="text-muted">We offer huge gym facilities, swimming pools, group fitness studios, 
                            personal training, and more!</p>
                        <div class="mt-3">
                            <a href="javascript: void(0);" class="text-primary">Start session <i
                                    class="mdi mdi-arrow-right align-middle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card blog-box border-0 mt-4">
                    <div class="blog-img position-relative">
                        <img src="assets/images/blog/blog-2.jpg" alt="Blog" class="img-fluid rounded">
                        <div class="bg-overlay rounded"></div>
                    </div>
                    <div class="mt-3">
                        <a href="javascript: void(0);" class="primary-link">
                            <h6 class="fs-20">Yoga Dublin</h6>
                        </a>
                        <p class="text-muted">Yoga Dublin is home for your mind and body in Dublin. 
                            We offer hot yoga, pilates and more!</p>
                        <div class="mt-3">
                            <a href="javascript: void(0);" class="text-primary">Start session <i
                                    class="mdi mdi-arrow-right align-middle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card blog-box border-0 mt-4">
                    <div class="blog-img position-relative">
                        <img src="assets/images/blog/blog-3.jpg" alt="Blog" class="img-fluid rounded">
                        <div class="bg-overlay rounded"></div>
                    </div>
                    <div class="mt-3">
                        <a href="javascript: void(0);" class="primary-link">
                            <h6 class="fs-20">FLYEfit</h6>
                        </a>
                        <p class="text-muted">
                            Enjoy the best of 20 gym facilities all across Ireland, from heavy lifting areas to yoga studios!
                        </p>
                        <div class="mt-3">
                            <a href="javascript: void(0);" class="text-primary">Start session <i
                                    class="mdi mdi-arrow-right align-middle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PERSISTED FROM DB SECTION -->
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let b of businesses; index as i;">
                <div class="card blog-box border-0 mt-4">
                    <div class="blog-img position-relative">
                        <img src="assets/images/blog/blog-1.jpg" alt="Blog" class="img-fluid rounded">
                        <div class="bg-overlay rounded"></div>
                    </div>
                    <div class="mt-3">
                        <a href="javascript: void(0);" class="primary-link">
                            <h6 class="fs-20">{{b.business[i].name}}</h6>
                        </a>
                        <p class="text-muted">{{b.business[i].description}}</p>
                        <div class="mt-3">
                            <a href="javascript: void(0);" class="text-primary">Start session <i
                                    class="mdi mdi-arrow-right align-middle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF PERSISTED FROM DB SECTION -->
    </div>
</section>
<!-- END GYM SELECTION -->


<!-- START FOOTER -->
<footer class="bg-dark section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <ul class="list-inline social-list mb-0">
                        <li class="list-inline-item "><a href="javascript: void(0);" class="social-icon footer-link"><i
                                    class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item ms-1"><a href="javascript: void(0);"
                                class="social-icon footer-link"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item ms-1"><a href="javascript: void(0);"
                                class="social-icon footer-link"><i class="mdi mdi-linkedin"></i></a></li>
                        <li class="list-inline-item ms-1"><a href="javascript: void(0);"
                                class="social-icon footer-link"><i class="mdi mdi-google-plus"></i></a></li>
                    </ul>
                    <!--end social-->
                </div>
                <div class="footer-terms">
                    <ul class="mb-0 list-inline text-center mt-4">
                        <li class="list-inline-item"><a href="javascript: void(0);" class="footer-link">Terms &
                                Condition</a></li>
                        <li class="list-inline-item ms-1"><a href="javascript: void(0);" class="footer-link">Privacy
                                Policy</a></li>
                        <li class="list-inline-item ms-1"><a href="javascript: void(0);" class="footer-link">Contact
                                Us</a></li>
                    </ul>
                </div>
                <!--end footer-terms-->
                <div class="mt-4 pt-2 text-center">
                    <p class="text-white-50 mb-0">{{year}} © WanderGym <i
                            class="mdi mdi-heart text-danger"></i>
                    </p>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</footer>
<!-- END FOOTER -->

<!--start back-to-top-->
<button (click)="topFunction()" id="back-to-top">
    <i class="mdi mdi-arrow-up"></i>
</button>
<!--end back-to-top-->
