/* You can add global styles to this file, and also import other style files */

.home-slider {
  .swiper-slide {
    position: relative;

  }

  .slick-dots {
    bottom: 55px;
  }

}


//client
.slick-dots {
  li {
    height: 6px;
    width: 9px;

    button {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        transform: rotate(40deg);
        background-color: rgba(63, 142, 252, 0.9);
        opacity: 0.6;
      }
    }

    &.slick-active {
      button {
        &::before {
          background-color: rgba(63, 142, 252);
        }
      }
    }
  }
}


#ecommerceHero {

  .slick-prev,
  .slick-next {
    font-family: remixicon;
    opacity: 0;
    height: 44px;
    width: 44px;
    background-color: #fff;
    top: 50%;
    border-radius: 50%;
    font-size: 30px;
    color: white;

    i {
      transform: rotate(-45deg);
    }
  }

  .slick-next {
    right: 10px;
    z-index: 1;
    opacity: 0.85;
    background-color: #3f8efc !important
  }

  .slick-prev {
    left: 10px;
    z-index: 1;
    opacity: 0.85;
    background-color: #3f8efc !important
  }

  .slick-prev:before {
    content: "\f31c" !important;
    position: absolute;
    inset: 0;
    margin: auto;
  }

  .slick-next:before {
    content: "\ea6e" !important;
    position: absolute;
    inset: 0;
    margin: auto;

  }
}