 <!-- START FEATURES -->
 <section class="section" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3>Product Features</h3>
                    <p class="text-muted">It is a long established fact that a reader will be of a page when
                        established fact looking at its layout.</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-box card border-0 mt-3">
                    <div class="card-body">
                        <div class="feature-icon mx-auto">
                            <i class="mdi mdi-chart-areaspline"></i>
                        </div>
                        <div class="mt-4">
                            <h6 class="mb-3 fs-17">Digital Design</h6>
                            <p class="text-muted"> Some quick example text to build on the card title and make up
                                the bulk of the card the platform.</p>
                        </div>
                        <div class="feature-link">
                            <a href="javascript: void(0);" class="text-primary text-decoration-underline">Learn More <i
                                    class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6">
                <div class="feature-box card border-0 mt-3">
                    <div class="card-body">
                        <div class="feature-icon mx-auto">
                            <i class="mdi mdi-gift"></i>
                        </div>
                        <div class="mt-4">
                            <h6 class="mb-3 fs-17">Unlimited Colors</h6>
                            <p class="text-muted">Credibly brand stanaads compliant user exteible services College
                                Anibh ocean euismod tincidunt laoreet.</p>
                        </div>
                        <div class="feature-link">
                            <a href="javascript: void(0);" class="text-primary text-decoration-underline">Learn More <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6">
                <div class="feature-box card border-0 mt-3">
                    <div class="card-body">
                        <div class="feature-icon mx-auto">
                            <i class="mdi mdi-xml"></i>
                        </div>
                        <div class="mt-4">
                            <h6 class="mb-3 fs-17">Strategy Solutions</h6>
                            <p class="text-muted"> Separated they live in Bookmarks grove right at the coast of the Semantics, a large ocean regelialia.</p>
                        </div>
                        <div class="feature-link">
                            <a href="javascript: void(0);" class="text-primary text-decoration-underline">Learn More <i
                                    class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6">
                <div class="feature-box card border-0 mt-3">
                    <div class="card-body">
                        <div class="feature-icon mx-auto">
                            <i class="mdi mdi-webpack"></i>
                        </div>
                        <div class="mt-4">
                            <h6 class="mb-3 fs-17">Awesome Support</h6>
                            <p class="text-muted">Passage you need sure there anything embrassing text hidden all
                                necessary making generator Internet.</p>
                        </div>
                        <div class="feature-link">
                            <a href="javascript: void(0);" class="text-primary text-decoration-underline">Learn More <i
                                    class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6">
                <div class="feature-box card border-0 mt-3">
                    <div class="card-body">
                        <div class="feature-icon mx-auto">
                            <i class="mdi mdi-responsive"></i>
                        </div>
                        <div class="mt-4">
                            <h6 class="mb-3 fs-17">Truly Multipurpose</h6>
                            <p class="text-muted"> Nor again is there anyone who loves or pursues or desires to
                                obtain pain of itself, because it is pain.</p>
                        </div>
                        <div class="feature-link">
                            <a href="javascript: void(0);" class="text-primary text-decoration-underline">Learn More <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6">
                <div class="feature-box card border-0 mt-3">
                    <div class="card-body">
                        <div class="feature-icon mx-auto">
                            <i class="mdi mdi-leaf"></i>
                        </div>
                        <div class="mt-4">
                            <h6 class="mb-3 fs-17">Easy to customize</h6>
                            <p class="text-muted"> Donec dolor eget augue commodo varius Aenean
                                iaculis arcu in est facilisis, vitae auctor ipsum aliquet.</p>
                        </div>
                        <div class="feature-link">
                            <a href="javascript: void(0);" class="text-primary text-decoration-underline">Learn More <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end feature-box-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END FEATURES -->
